<?xml version="1.0" ?>
<robot name="partnet_13aeab12a8ccdb244da5feafe6f1c8fc">
	<link name="base"/>
	<link name="link_0">
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-95.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-86.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-90.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-91.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-93.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-92.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-96.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-29">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-30">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-31">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-32">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-33">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-81.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-33">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-80.obj"/>
			</geometry>
		</visual>
		<visual name="handle-28">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-98.obj"/>
			</geometry>
		</visual>
		<visual name="handle-28">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-100.obj"/>
			</geometry>
		</visual>
		<visual name="handle-28">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-99.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-35">
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-95.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-86.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-90.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-91.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-93.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-92.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-96.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-81.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-80.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-98.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-100.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-99.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.11511244514447615 -0.5818874981287092 -0.5661810040473938"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="prismatic">
		<origin xyz="0.11511244514447615 0.5818874981287092 0.5661810040473938"/>
		<axis xyz="0 0 0.9999999999999999"/>
		<child link="link_0"/>
		<parent link="link_3"/>
		<limit lower="0" upper="0.7999999999999998"/>
	</joint>
	<link name="link_1">
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-22">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-23">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-24">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-25">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-26">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-26">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="handle-21">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="handle-21">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="handle-21">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-37">
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.12263331362859117 0.3413447615853047 0.47080999612808205"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="prismatic">
		<origin xyz="-0.12263331362859117 -0.3413447615853047 -0.47080999612808205"/>
		<axis xyz="0 0 1"/>
		<child link="link_1"/>
		<parent link="link_3"/>
		<limit lower="0" upper="0.7999999999999998"/>
	</joint>
	<link name="link_2">
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-15">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-16">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-17">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-18">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-19">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-19">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<visual name="handle-14">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</visual>
		<visual name="handle-14">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</visual>
		<visual name="handle-14">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-39">
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.05259634790892014 -0.11019116982402882 0.47080999612808183"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="prismatic">
		<origin xyz="-0.05259634790892014 0.11019116982402882 -0.47080999612808183"/>
		<axis xyz="0 0 1"/>
		<child link="link_2"/>
		<parent link="link_3"/>
		<limit lower="0" upper="0.7999999999999998"/>
	</joint>
	<link name="link_3">
		<visual name="frame_horizontal_bar-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-54">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-55">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-56">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-56">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="bottom_panel-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-65">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-66">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-68">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-101.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-43">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-44">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-45">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-46">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-101.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_3"/>
		<parent link="base"/>
	</joint>
</robot>
